.form-headings h3{
    font-weight: 700;
}

.form-headings p {
    color: #767e90;
    font-weight: 600;
}

@media (max-width: 575px) {
    .container{
        max-width: 92%;
    }

    .form-headings h3{
        font-size: 22px;
    }

    .form-headings p {
        font-size: 14px;
    }
}