@import url('https://rsms.me/inter/inter.css');

@supports (font-variation-settings: normal) {
  body { font-family: 'Inter var', sans-serif; }
}


body {
  background-color: #e9edf4;
  margin: 0;
  padding: 6rem 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container {
  background-color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary {
  background: #664de5;
  border-color: #664de5;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #4d34cc;
  border-color: #4d34cc;
}

@media screen and (max-width: 575px) {
  body {
    padding: 3rem 0;
  }
}

